<div class="container">
  <form [formGroup]="form" (ngSubmit)="addTask()">
    <input formControlName="title" placeholder="New task" />
    <button type="submit">Add</button>
  </form>

  <hr />
  <div *ngIf="loading">Loading...</div>

  <div *ngIf="!loading && errorMessage" class="error">
    {{ errorMessage }}
  </div>

  <div *ngIf="!loading && !errorMessage && tasks.length === 0" class="empty">
    No tasks yet, add your first task!
  </div>

  <div *ngFor="let task of tasks" class="task-item">
    <input type="checkbox" [checked]="task.isCompleted" (change)="toggle(task)" />

    <span class="task-text" [class.completed]="task.isCompleted">
      {{ task.title }}
    </span>
  </div>

</div>